.playerinfo{
    margin-bottom: 15px;
    width: 380px;
    font-size: 30px;
    padding: 15px; 
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
    align-items: center;
    margin: auto;
    line-height: normal;
    outline: none; 
    box-shadow: 0 0 0 1px #ccc; 
}
.playerinfo input {
   height: 30px;
   border-radius: 3px;
   border: 1px solid #ccc;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 0 1px #ccc;
    border: 1px solid #ccc;
    border-radius: 1px;
  }
::placeholder {
    color: #ccc;
}
.board-container {
    align-items: center;
}
.board {
    display: flex;
    flex-wrap: wrap;
    width: 306px;
    height: 306px;
    background: #1c3448;
    border: 1px solid #40E0D0;
    margin-top: 40px;
}

.row {
    background: #1c3448;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #40E0D0;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
@media screen and (max-width: 625px) {
    .playerinfo {
        padding-top: 0;
        margin: 0 auto;
        max-width: 100%;
    }
    .board-container {
        width: 100%;
    }
    .board {
      width: 250px;
      height: 250px;
      overflow: hidden;
    }
    .winner-table {
        height: 250px;
        width: 250px;
        margin-top: 40px;
    } 
    .winner-table span {
        position: relative;
        top: 13vh;
    }
    .cell {
      width: 81px;
      height: 81px;
    }
}
.gamecontrols {
    margin-top: 1em;
    font-size: 0.5em;
    z-index: 11;
    
}
.board-container {
    display: flex;
    justify-content: center;
}
.winner-table {
    position: absolute;
    height: 306px;
    width: 306px;
    margin-top: 40px;
    background: #efefefaa;
    color: #045;
    font-weight: 700;
    font-size: 35px;
} 
.winner-table span {
    position: relative;
    top: 13vh;
}
.resetBtn {
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    padding: 15px; 
    font-family: Open Sans;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #40E0D0; 
    background: linear-gradient(180deg,#40E0D0 0,#40E0D0);
    cursor: pointer;
    line-height: normal; 
    vertical-align: baseline; 
    display: inline-block;
    align-items: flex-start;
}
.resetBtn:hover {
    background: #1c3448;
}
.playerinformation span{
    font-size: 20px;
    color: #fff;
}
.game-container {
    font-size: 30px;
    color: #ccc;
}
